name: CI pipeline

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [macOs-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Setup java JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18.0.2+101'
          distribution: 'temurin'

      - name: Build with gradle
        uses: ./gradlew build